:root {
    --primary: #aaa;
    --secondary: #777;
    --sorted: #0053ACFF;
    --unsorted: #FF53AC;
}
/*body {*/
/*    background-color: var(--primary);*/
/*}*/
.cursor-pointer {
    cursor: pointer;
}
.fa-spinner {
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}
/*
App
*/
.navbar-brand{
    font-weight: bold;
    font-family: sans-serif;
}
.navbar-nav{
    font-size: 15px;
}
.navbar-nav button{
    font-size: 15px;
}
.navbar-nav .nav-item .nav-link{
    color: rgba(255,255,255,.9);
}
.size-slider {
    width: 200px;
}
.graph {
    border-top: var(--primary) 1px solid;
}
.graph-body {
    min-height: 80vh;
    justify-content: center;
    border-top: var(--primary) 1px solid;
    border-bottom: var(--primary) 1px solid;
}
.node {
    margin: 0 2px;
    height: 20px;
    width: 20px;
    background-color: var(--secondary);
}

.algorithm-info {
    display: none;
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 25%;
    z-index: 100;
}
.algorithm-info-header {
    font-weight: bold;
    font-size: 20px;
}
.algorithm-info-cancel-btn {
    position: relative;
    float: right;
}
.node-sorted {
    background-color: var(--sorted);
}
.node-unsorted {
    background-color: var(--unsorted);
}